{% extends 'base.html' %}
{% block title %}{{article.title}} --- 文章详情{% endblock %}
{% block baner %}
{% endblock %}

{% block main %}
<style>
    .content img{
        width: 100%;
        height: auto;
    }
    .content video{
        width: 100%;
        height: auto;
    }
    .content iframe{
        width: 100%;
        height: 666px;
    }
</style>
<div class="col-md-9">
    {% load static %}
        <div class="panel panel-default">
          <div class="panel-heading title">
            <h3>{{article.title}}</h3>
            <p class="text-muted"><span><a href="/blog/user/{{article.author.id}}">{{article.author.username}}</a></span> &nbsp;  <span>{{article.publish_time}}</span> ⋅ <span> {{article.count}} 阅读 </span></p>
          </div>
          <div class="panel-body content" style="font-size: 16px; line-height: 32px;">

                    {{article.content | safe}}

          </div>

          <!--<div class="panel-body bq">-->
            <!--<a href="">#真实故事计划</a> <a href="">#校园欺凌</a>-->
          <!--</div>-->
          <div class="panel-body">
            <a href="" class="sc"><span class="glyphicon glyphicon-star-empty"></span>收藏 </a>
             <a href="" class="btn btn-default like"><span class="glyphicon glyphicon-heart"></span> 喜欢</a>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            评论
          </div>
          <div class="panel-body">
            <form action="">
                <textarea class="form-control" rows="3"></textarea>
                <input type="submit" value="评论" class="btn btn-success">
            </form>
          </div>
        </div>
    </div>

    <div class="col-md-3">

        <ul class="list-group">
          <li class="list-group-item zz">
            <a href="/blog/user/{{article.author.id}}" class="tx">
                <img src="/static/uepload/{{article.author.header}}" class="img-circle" width="121" height="121">
            </a>
          </li>
          <li class="list-group-item"><p class="text-center user">{{article.author.username}}</p></li>
          <li class="list-group-item text-center">
                {{article.author.self_info}}
          </li>
          <li class="list-group-item">
            <p class="text-center gz">
                <a href="">
                     关注
                </a>
            </p>
          </li>
        </ul>
    </div>
</div>

{% endblock %}