{% extends 'base.html' %}
{% block title %}恭喜你，注册成功！{% endblock %}
{% block baner %}
{% endblock %}

{% block main %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel danger">
          <div class="panel-heading">
            恭喜你，注册成功！
          </div>
          <div class="panel-body">
              <h5>你可以做如下操作：</h5>
              <a href="/blog/user_login/">登录</a>
              <a href="/blog/">返回首页</a>
          </div>
        </div>
    </div>
</div>
{% endblock %}

{% block music %}
{% endblock %}